#header {
  text-align: center;
  background: skyblue;
  color: white;
  padding: 20px 0;
  margin-bottom: 20px;
}

#input_box {
  width: 90%;
  margin: 50px auto;
  padding: 30px;
  box-sizing: border-box; /* padding+border 값을 width에 포함시킨다는 뜻 */
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  box-shadow: 5px 5px 5px lightgray;
}

#input_title {
  width: 30%;
}

#input_contents {
  width: 50%;
}

#input_box h3 {
  margin-top: 0;
}

#input_box input {
  width: 100%;
  height: 30px;
  font-size: 22px;
}

.add_button {
  padding: 10px;
  background: pink;
  border: transparent;
  border-radius: 5px;
  cursor: pointer; /* 커서를 올리면, 손모양 나타나게 하기 */
}

#listbox {
  width: 90%;
  margin: 0 auto 50px auto; /* margin: 위 오 아 왼 */
  display: flex;
  gap: 20px;
  flex-wrap: wrap; /* 가로가 길어지면 밑으로 떨어뜨리기 */
}

.item {
  padding: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  min-width: 200px; /* .item의 최소 넓이 */
  min-height: 200px; /* .item의 최소 높이 */
  display: flex; /* display:flex 속성은 가로로 병렬할 때 주로 쓰이지만, */
  flex-direction: column; /* flex-direction 속성에서 column값을 주면 세로 정렬도 가능 (기본값은 row가로) */
  justify-content: space-between;
  box-shadow: 5px 5px 5px lightgray;
}

.item .checkbox {
  display: flex;
}

.item .checked {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 10px 0 0;
  cursor: pointer;
  background-image: url(https://w7.pngwing.com/pngs/322/122/png-transparent-check-mark-scalable-graphics-free-check-mark-angle-hand-check-mark-thumbnail.png);
  background-size: cover;
}

.item .unchecked {
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 0 10px 0 0;
  cursor: pointer;
}

.todo_title {
  font-size: 30px;
  font-weight: bold;
}

.todo_contents {
}

.button_box {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.button_box button {
  padding: 8px 20px;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
}

.button_box .delete {
  background-color: rgb(245, 91, 91);
  color: white;
}

.button_box .cancel {
  background-color: darkorange;
  color: white;
}

.button_box .done {
  background-color: rgb(44, 175, 44);
  color: white;
}

